<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Spo2yt</title>
  <link rel="stylesheet" href="../static/styles.css">
  <script src="../static/script.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
  </style>
</head>

<body>
  <div class="carousel" role="region" aria-labelledby="carousel-title">
    <!-- <h2 class="carousel-title" id="carousel-1-title"> Your saved playlists</h2> -->
    {% for playlist in playlists %}
    <div class="slide" role="tabpanel" aria-labelledby="carousel-slide-{{ loop.index }}-title">
      <div class="slide-content">
        <div class="slide-caption">
          <h3 id="carousel-slide-1-title">{{ playlist.name }}</h3>
          <p>{{ loop.index }} / {{ loop.length }}</p>
        </div>
        <img src="{{ playlist.cover }}" alt="album cover" width="380" height="300" />
      </div>
    </div>
  {% endfor %}
  <button>View your converted playlists</button>
</div>
</body>

</html>