<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spo2yt</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.jpg') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js' )}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1 id="name">{{ name }}</h1>
        <img src="{{ image }}" id="playlist-image-preview">
        <div id="tracks-list">
            <ul data-tracks="{{ tracks }}" id="spotify-tracks">
                {% for track in tracks %}
                    <li><span style="margin-right: 10px; margin-left: 3px;">{{ loop.index }})</span> {{ track.name }}</li>
                {% endfor %}
            </ul>
        </div>
    <div id="btn-wrapper">
        <a href="{{ url_for('convert_playlist', playlist_id=p_id) }}" target="_blank" id="convert-btn">Convert</a>
    </div>

</body>
</html>
