<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="{{ url_for('static', filename='script.js' )}}"></script> -->
    <title>Document</title>
</head>
<body>
    <h1>Converting ....</h1>

    <div id="progress-bar" style="width: 100%; background-color: #f3f3f3;">
        <div id="progress" style="width: 0%; height: 30px; background-color: #4caf50;"></div>
    </div>


    <script>
        function updateProgressBar(taskId) {
            fetch(`/status/${taskId}`)
                .then(response => response.json())
                .then(data => {
                    const progress = document.getElementById('progress');
                    progress.style.width = `${(data.current / data.total) * 100}%`;

                    if (data.state === 'SUCCESS') {
                        window.location.href = `/your-next-url`;
                    } else {
                        setTimeout(() => updateProgressBar(taskId), 1000);
                    }
                });
        }

        const taskId = "{{ task_id }}";
        updateProgressBar(taskId);
    </script>
</body>
</html>